<div class="content">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-8">
                <div class="about">
                    <p>Etalib is an application for schools that aims to simplify creating, distributing, and grading assignments. The primary purpose of Etalib is to streamline the process of sharing files between teachers and students</p>  
                </div>
                                
            </div>
        </div>
    </div>
</div>