
        <main id="main">

        <!-- ======= Contact Section ======= -->
            <section id="contact" class="contact section-bg">
              <div class="container">
        
                <div class="section-title">
                  <h2 data-aos="fade-in">Contact Us</h2> <br>
                </div>
        
                <div class="row">
        
                  <div class="col-lg-6">
        
                    <div class="row">
                      <div class="col-md-12">
                        <div class="info-box" data-aos="fade-up">
                            <i class="fa fa-map-marker"></i>
                          <h3>Our Address</h3>
                          <p>A108 Far Street, Agadir 80000</p>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="info-box mt-4" data-aos="fade-up" data-aos-delay="100">
                            <i class="fa fa-envelope-o"></i>
                          <h3>Email Us</h3>
                          <p>info@etalib.com<br>contact@etalib.com</p>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="info-box mt-4" data-aos="fade-up" data-aos-delay="100">
                            <i class="fa fa-phone"></i>
                          <h3>Call Us</h3>
                          <p>+212 5 00000001<br>+212 6 10010199</p>
                        </div>
                      </div>
                    </div>
        
                  </div>
        
                  <div class="col-lg-6">
                    <form action="forms/contact.php" method="post" role="form" class="php-email-form" data-aos="fade-up">
                      <div class="form-row">
                        <div class="col-md-6 form-group">
                          <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                          <div class="validate"></div>
                        </div>
                        <div class="col-md-6 form-group">
                          <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                          <div class="validate"></div>
                        </div>
                      </div>
                      <div class="form-group">
                        <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                        <div class="validate"></div>
                      </div>
                      <div class="form-group">
                        <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                        <div class="validate"></div>
                      </div>
                      <div class="mb-3">
                        <div class="loading">Loading</div>
                        <div class="error-message"></div>
                        <div class="sent-message">Your message has been sent. Thank you!</div>
                      </div>
                      <div class="text-center"><button type="submit">Send Message</button></div>
                    </form>
                  </div>
        
                </div>
        
              </div>
            </section><!-- End Contact Section -->
            <br>
            <div class="d-none d-sm-block mb-5 pb-4" >
    
           
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3443.5373892774483!2d-9.507954685549059!3d30.335673811712176!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xdb3c7b3e6a41f45%3A0xd3d0eba51ba8a149!2sCit%C3%A9%20Al%20Massira%2C%20Ait%20Melloul%2080000!5e0!3m2!1sen!2sma!4v1591752082789!5m2!1sen!2sma" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                
    
            </div>
        
          </main><!-- End #main -->

    